
<div class="page tag-page" id="tag">
  <h2><%=page.tag%></h2>
  <% page.posts.each(function(article) { %>
    <div class="tag-item">
      <time class="time" datetime="<%=date_xml(article.date)%>">
        <%=date(article.date)%>
      </time>
      <% if (article.link) { %>
        <a href="<%=url_for(article.link)%>" target="_blank">
          <%=article.title || 'No Title'%>
        </a>
      <% } else { %>
        <a href="<%=url_for(article.path)%>">
          <%=article.title || 'No Title'%>
        </a>
      <% } %>
    </div>
  <% }); %>
</div>