  <% if (page.prev || page.next) { %>
    <div class="post-nav">
      <div class="post-nav-item post-nav-next">
        <% if (page.next){ %>
          <a href="<%= url_for(page.next.path) %>" rel="next" title="<%= page.next.title %>">
            <span>〈 </span> <%= page.next.title  || "Untitled"  %>
          </a>
        <% } %>
      </div>
  
      <div class="post-nav-item post-nav-prev">
        <% if (page.prev){ %>
          <a href="<%= url_for(page.prev.path) %>" rel="prev" title="<%= page.prev.title %>">
            <%= page.prev.title  || "Untitled"  %> <span>〉</span>
          </a>
        <% } %>
      </div>
    </div>
  <% } %>