
<% if (page.posts.length > 0) { %>
  <div class="recent-posts">
    <% page.posts.sort('date', -1).limit(10).each(function(post) { %>
      <article class="recent-post-item">
        <a class="title" href="<%=config.root + post.path%>"><h2><%=post.title%></h2></a>
        <% if (theme.show_excerpt && post.excerpt) { %>
          <div class="post-excerpt">
            <%- post.excerpt %>
          </div>
        <% } %>
        
        <div class="post-footer">
          <% if (post.tags) { %>
            <%- list_tags(post.tags, {
              show_count: false,
              class: 'index-tag'
            }) %>
          <% } %>

          <% if (theme.show_date && post.date) { %>
            <time class="time pr" datetime="<%=post.date.toJSON()%>">
              <%=date(post.date)%>
            </time>
          <% } %>
        </div>
      </article>
    <% }); %>
  </div>
<% } %>
